

.Footer {
    background-color: #2d2d32;
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 0;

    /* padding: 2rem 0; */
    margin-top: 3rem;
  
}

  


.sb_footer {
    display: flex;
    flex-direction: column;
}

.sb_footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;

}

.sb_footer-links_div {
    width: 150px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: yellow;
}

.link {
    color: rgb(175, 175, 179);
    text-decoration: none;
    position: relative;
}
.link:hover {

    text-decoration: underline yellow;
    text-underline-offset: 5px ;
        
}




.socialmedia {
    display: flex;
    flex-direction: row;
    width: 20px;
    cursor: pointer;
}
.social:hover {

    fill: yellow;
}

.para {
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.sb_footer-below {
   
   font-size: 10px;
    color: white;
}
h5{
    margin-top: 10px;
}
  